* {
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
}

a:visited, a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: blue;
    
}

body {
    background-color: #2e3333;
}

#box {
   width: 100%;
   height: 250px;
   background: black;
  
   position: relative;
   margin: 0 auto; 
   
}
.nav-bar{
background: white;
}
.nav-bar__right {
    float:right ;
    list-style: none;

}

.nav-bar .nav-bar__right{ 
   display: flex;
   flex-direction: row;
    list-style: none;
    font-weight: bold;
    font-size: 2em; 
    }
    .nav-bar .nav-bar__left{ 
        position: relative;
        display: inline;
         list-style: none;
         font-weight: bold;
         font-size: 2em; 
         }

    .nav-bar li {
       padding: 0 0.5em 0 0.5em;
        border-right: 2px solid #990000;
    }

#reactionHeader {
    position: relative;
    top: 50px;
    text-align: center;
    background-color: #2e3333;
  
}

#reactionHeader h1, h3, p{
  
  text-align: center;
    z-index: 1000;
    color: rgb(255, 255, 255);
}


#startBtn {
    width: 200px;
    height: 75px;
}


.time {
    position: relative;
    top :350px;
    text-align: center;
}
.time p {
    position: relative;
    top :100px;

}


/* BEST SCORE SECTION*/
#bestscore {
    position: relative;
    top: 150px;
}
